@model BookStoreMVC.Models.BookViewModel
@{
    ViewBag.Title = "Delete Book";
}

<h2>Delete Book</h2>

<h3>Are you sure you want to delete this book?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd>@Model.Title</dd>
        <dt>Author</dt>
        <dd>@Model.Author</dd>
        <dt>ISBN</dt>
        <dd>@Model.ISBN</dd>
        <dt>Price</dt>
        <dd>@Model.Price.ToString("C")</dd>
        <dt>Available Stock</dt>
        <dd>@Model.AvailableStock</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "ListBooks", null, new { @class = "btn btn-default" })
    }
</div>
